{% extends '::base.html.twig' %}

{% block body %}
    {% if(featured) %}
    <div class="jumbotron">
        <h1>{{ featured.title }}</h1>
        <p class="lead">{{ featured.shortText }}..</p>
        <p><a class="btn btn-lg btn-success" href="{{ path('view_post', {'id': featured.id }) }}" role="button">Read More</a></p>
    </div>
    {% endif %}

    <div class="row marketing">
        {% for row in posts|batch(2) %}
            <div class="row">
            {% for post in row %}
                {% include 'AcmeMainBundle:Blog:partial/postShort.html.twig' with {'post' : post} %}
            {% endfor %}
            </div>
        {% else %}
            <em>No posts found</em>
        {% endfor %}
    </div>
{% endblock %}
